// Style files in the pods folder are automatically loaded in.
@import 'pod-styles';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');
@import url('https://fonts.googleapis.com/css?family=Quantico');

body {
  margin      : 0;
  padding     : 0;
  font-weight : 300;
  font-size   : 12px;
  font-family : 'Source Sans Pro', sans-serif;
  background-color: #f6fafd;
}

#header-navigation {
  background-color: #0d3344;
  display: flex;
  align-items: center;
  font-weight: normal;
  justify-content: space-between;

  a {
    color          : #fff;
    text-transform : uppercase;
    padding: 15px 10px;
    cursor: pointer;
    display: block;
  }

  ul, li {
    margin     : 0;
    padding    : 0;
    list-style : none;
  }

  li a:hover, li.active a {
    background-color: #07485f;
  }

  .left-menu {
    display: flex;
  }
  .menu-items {
    display: flex;
    li {
      //display: inline-block;
    }
  }
}

h3 {
  margin: 0;
  padding: 20px 10px 20px 70px;
  font-size: 26px;
  color: #fff;
  font-family: 'Quantico', sans-serif;
  background-color: #07485f;
  background: #07485f url(avatar.png) no-repeat;
  background-size: 46px;
  background-position: 15px 50%;
}

h4 {
  margin: 0;
  font-size: 20px;
  font-family: 'Quantico', sans-serif;
}

.description {
  margin: 10px 0;
  text-transform: uppercase;
  color: #85949e;
  font-weight: 300;
  font-family: 'Quantico', sans-serif;
}

table {
  background-color: #fff;
  thead {
    background-color: #f6fafd;
  }
    th, td {
      padding: 6px;
      border-bottom: 1px solid #eff0f2;
    }
    th {
      padding: 8px 6px;
    }
  td {
    border-bottom: 1px solid #eff0f2;
  }
}

.content-wrapper {
  display: flex;

  .table {
    margin-top: 20px;
    box-shadow: 0 0 1px rgba(0,0,0,0.4);
  }

  .table-header {
    border-bottom: 1px solid #d6d8db;
    display: flex;
    background-color: #fff;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
  }

  .table-footer {
    text-transform: uppercase;
    border-top: 1px solid #d6d8db;
    background-color: #f6fafd;
    padding: 6px;
    font-weight: bold;
  }

 .dataset-tables {
  padding: 20px 15px 10px 15px;
 }
 .xpand-button {
  color: #1294b4;
  padding: 3px 10px;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'Quantico', sans-serif;
 }
}
