/*
  broccoli-style-manifest: This is an empty style mainfest file.
*/
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400");
@import url("https://fonts.googleapis.com/css?family=Quantico");
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.ttf?fjkwgm") format("truetype"), url("fonts/icomoon.woff?fjkwgm") format("woff"), url("fonts/icomoon.svg?fjkwgm#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-chevron-left:before {
  content: "\e900"; }

.icon-menu:before {
  content: "\e901"; }

.icon-download:before {
  content: "\ea1c"; }

body {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
  min-width: 768px; }

p {
  font-size: 18px;
  line-height: 24px; }

#header-navigation {
  background-color: #0d3344;
  display: flex;
  align-items: center;
  font-weight: normal;
  justify-content: space-between; }
  #header-navigation .humburger {
    background-color: transparent;
    width: 50px;
    border: none;
    color: #fff;
    font-size: 26px;
    margin-right: 1px;
    border-right: 1px solid #09475e; }
  #header-navigation .menu-items a {
    color: #fff;
    text-transform: uppercase;
    padding: 15px;
    cursor: pointer;
    display: block; }
  #header-navigation ul, #header-navigation li {
    margin: 0;
    padding: 0;
    list-style: none; }
  #header-navigation .left-menu li a:hover, #header-navigation .left-menu li.active a {
    background-color: #07485f; }
  #header-navigation .left-menu {
    display: flex; }
  #header-navigation .menu-items {
    display: flex; }

h3 {
  margin: 0;
  padding: 20px 10px 20px 70px;
  font-size: 26px;
  color: #fff;
  font-family: 'Quantico', sans-serif;
  background-color: #07485f;
  background: #07485f url(avatar.png) no-repeat;
  background-size: 46px;
  background-position: 15px 50%; }

h4 {
  margin: 0;
  font-size: 20px;
  font-family: 'Quantico', sans-serif; }

.description {
  margin: 10px 0;
  text-transform: uppercase;
  color: #85949e;
  font-weight: 300;
  font-family: 'Quantico', sans-serif; }

.table-wrapper {
  overflow-x: scroll; }

table {
  font-size: 12px;
  background-color: #fff; }
  table thead {
    background-color: #f6fafd; }
  table th, table td {
    padding: 6px 10px;
    border-bottom: 1px solid #eff0f2; }
  table th {
    border-top: 1px solid #eff0f2;
    padding: 8px 10px; }
  table td {
    border-bottom: 1px solid #eff0f2; }

.content-wrapper {
  display: flex;
  justify-content: space-between; }
  .content-wrapper .main-content {
    background-color: #f6fafd;
    width: calc( 100% - 450px); }
  .content-wrapper .table {
    margin-top: 20px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.4); }
  .content-wrapper .sidebar {
    padding: 40px 25px 25px 25px;
    background-color: #fff;
    border-left: 1px solid #d1d7dc;
    width: 450px; }
  .content-wrapper .table-header {
    border-bottom: 1px solid #d6d8db;
    display: flex;
    background-color: #fff;
    padding: 10px;
    align-items: center;
    justify-content: space-between; }
  .content-wrapper .table-footer {
    text-transform: uppercase;
    border-top: 1px solid #d6d8db;
    background-color: #f6fafd;
    padding: 6px;
    font-weight: bold; }
  .content-wrapper .dataset-tables {
    padding: 20px 15px 10px 15px; }
  .content-wrapper .xpand-button {
    color: #1294b4;
    padding: 3px 10px;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Quantico', sans-serif; }

.publisher-detail .title {
  margin: 0;
  display: inline-block;
  border: 2px solid #1aaf85;
  border-radius: 4px;
  padding: 5px 8px;
  font-size: 11px;
  text-transform: uppercase;
  color: #0ab286; }

.publisher-detail h5 {
  font-size: 13px;
  margin: 16px 0 0 0;
  text-transform: uppercase;
  font-weight: normal; }

.publisher-detail .list {
  margin: 0 0 50px 0;
  padding: 0;
  list-style: none;
  font-family: 'Quantico', sans-serif; }
  .publisher-detail .list li {
    padding: 10px 0;
    border-bottom: 1px solid #eff0f2; }
    .publisher-detail .list li > div {
      float: left; }
    .publisher-detail .list li:after {
      clear: both;
      display: block;
      height: 0;
      content: ''; }
  .publisher-detail .list .label {
    float: left;
    color: #999ea6;
    text-transform: uppercase; }
  .publisher-detail .list .value {
    color: #0f4755;
    float: right;
    font-size: 16px;
    text-transform: capitalize; }

.publisher-detail .tables-api {
  border: 1px solid #2688d9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 10px; }
  .publisher-detail .tables-api a {
    color: #235362;
    font-size: 17px;
    text-decoration: none; }

.info {
  cursor: pointer;
  border-radius: 50px;
  display: inline-block;
  border: 1px solid #2e8dad;
  width: 13px;
  height: 12px;
  text-align: center;
  margin-left: 6px;
  text-transform: initial;
  font-size: 10px;
  color: #2e8dad;
  font-weight: bold; }

.button-link {
  background-color: #0e98b8;
  padding: 10px 0;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  width: 100%;
  text-align: center;
  margin-top: 30px; }

button {
  cursor: pointer; }

.clear-button {
  font-family: 'Quantico', sans-serif;
  border: 1px solid #278fa9;
  color: #278fa9;
  background-color: transparent;
  font-size: 17px;
  padding: 5px 15px;
  text-transform: uppercase; }

.download-button {
  font-family: 'Quantico', sans-serif;
  border: 1px solid #278fa9;
  color: #fff;
  background-color: #278fa9;
  font-size: 17px;
  padding: 5px 15px;
  text-transform: uppercase; }
  .download-button span {
    font-size: 12px;
    margin-left: 10px;
    color: #7cc7d8; }

.tab-bar {
  border-top: 1px solid #eff0f2;
  padding: 0 15px; }
  .tab-bar button {
    cursor: pointer;
    color: #a0a4aa;
    padding: 17px 20px;
    background: transparent;
    border: none;
    text-transform: uppercase;
    font-size: 13px; }
    .tab-bar button.active {
      color: #2691a5;
      border-bottom: 2px solid #0f99b6; }

.product-show .header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Quantico', sans-serif; }

.product-show a {
  color: #fff;
  text-decoration: none; }

.product-show h2 {
  margin: 0;
  font-weight: normal;
  padding: 0;
  font-size: 18px; }

.product-show .header button:first-child {
  margin-right: 10px; }

.product-show .page-title {
  margin: 0;
  padding: 10px;
  font-size: 26px;
  color: #fff;
  font-family: 'Quantico', sans-serif;
  background-color: #07485f;
  background: #07485f;
  background-size: 46px;
  background-position: 15px 50%; }
  .product-show .page-title a > * {
    display: inline;
    vertical-align: middle; }

/*# sourceMappingURL=assessment-frontend.css.map */